@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: url("outkrustBackground.avif");
  background-size: cover;
  color: brown;
  width: 100vw;
  height: 100vh;
}

#hipHopAccordion {
  background-color: transparent;
  color: transparent;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.hip-hop {
  background-color: transparent;
  color: transparent;
}

#app {
  display: flex;
  flex-direction: column;
}


.gap-20 {
  gap: 20px;
}

#home-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

#home-page > h1 {
  background-color: transparent;
  backdrop-filter: invert(80%) blur(1px);
  padding: 18px 120px;
  border-radius: 16px;
  color: #312509;
  margin-bottom: 64px;
  
}

// login, logout button
#google-auth {
  display: flex;
  justify-content: center;
  border-color: lightgray;
}

#login-text {
  font-size: 48px;
  color: black;
  display: flex;
  align-items: center;
}

#login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

#start-date,
#end-date {
  width: 50%;
}

.employee-page {
  text-align: center;
  color: darkred;
  border: 8px solid darkred;
  border-radius: 16px;
  padding: 32px 128px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

#order-card-container {
  padding: 0px 25px;
}

.navbar, .container-fluid, .navbar-expand, .bg-body-tertiary {
  background-color: transparent;
  backdrop-filter: invert(80%) blur(2px);
  color: #312509;
}

.btn-outkrust {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  backdrop-filter: invert(100%) blur(20px);
  width: 200px;
  border-radius: 6px;
  color: #312509;
  text-align: center;

}

#search-btn {
  border-color: lightgray;
}
